.mainHeading{
    border-bottom:2px solid black;
    padding-bottom: 1em;
}


.timerValue{
    font-size:72px;
}


ul{
    list-style: none;
    padding-left:0;
}

.task-delete{
    padding-left:.5em;
    color:red;
}
