<div class="container">
    <h1> Home</h1>
    <div class="row">
        <div><button ng-click="home.workTimer()" ng-disabled="home.disable()">Start Session</button>{{home.startSession}}</div>
    </div>
    <div class="row">
        <div><button ng-click="home.restTimer()" ng-disabled="home.timerRunning()">Start Rest</button>{{home.sessionRest}}</div>
    </div>
    <div class="row">
        <div><button ng-click= "home.stopTimer()">Stop Session</button></div>
    </div>
    <button ng-click = "home.timer()">Toggle</button>{{home.timerOn()}}
    <div class="row">{{home.message}}</div>
    <div>{{home.showTimerVal()}}</div>
</div>